<a href="https://colab.research.google.com/github/silviaRM/python-functions-11-11/blob/main/python_statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Warm-up
### Defining variables

In [4]:
x = 1

## More interesting stuff

In [5]:
#!/usr/bin/env python 
# make it executable chmod 

print("Hello World")

Hello World

In [6]:
for i in range(10):
  print(f"This is the loop number: {i}")

This is the loop number: 0
This is the loop number: 1
This is the loop number: 2
This is the loop number: 3
This is the loop number: 4
This is the loop number: 5
This is the loop number: 6
This is the loop number: 7
This is the loop number: 8
This is the loop number: 9

## Dictionaries

In [7]:
my_dict = {"one":"apple", "two":"eggs", "three":"butter"}
len(my_dict)
my_dict.keys()

dict_keys(['one', 'two', 'three'])

In [10]:
my_dict["one"]
"one" in my_dict #>> O(1) Lookup - search a million things and return results
"five" in my_dict

False

### Looping with Dictionaries

In [12]:
for number, food in my_dict.items():
  print(f"This is the key -  {number}  - and the food is : {food}")

This is the key -  one  - and the food is : apple
This is the key -  two  - and the food is : eggs
This is the key -  three  - and the food is : butter

## Math

In [13]:
expenses = [5, 90, 200, 2000]
sum(expenses)

2295

In [16]:
total = 0
for x in expenses:
  total += x
  print(f"Expense added to TOTAL {total}, EXPENSE {x}")

Expense added to TOTAL 5, EXPENSE 5
Expense added to TOTAL 95, EXPENSE 90
Expense added to TOTAL 295, EXPENSE 200
Expense added to TOTAL 2295, EXPENSE 2000